<% layout('./layout/page.ejs') -%>
<% block('title', 'SR 112') -%>

<style type="text/css">
    input[type="textarea"] {
        width : 500px;
    }
    input[type="number"] {
        width : 50px;
    }

    .title{
        width : 100%;
    }
    .input{
         width : 100%;
    }
    #wrapper{
        margin-top: 20px;
    }
</style>

<form id="promblem" method="post">
	<div id="wrapper">
	    <div class="title">Заголовок:</div>
        <div class="input"><input type="text" name="topic" value="<%=problem.topic%>" /></div>
    </div>
    <div id="wrapper">
        <div class="title">Порядковый номер:</div>
        <div class="input"><input type="text" name="serial" value="<%=problem.serial%>" /></div>
    </div>
    <div id="wrapper">
        <div class="title">Текст задания:</div>
        <div class="input"><textarea rows=10 name="question" style="width:600px"> <%=problem.question%></textarea></div>
    </div>
    <div id="wrapper">
        <div class="title">Стоимость:</div>
        <div class="input"><input type="number" name="cost" value="<%= problem.cost %>"/></div>
    </div>
    <div id="wrapper">
	    <div class="title">Ответы  <button type="button" onclick="addAnswer();">добавить</button></div>
        <div class="input">
            <ul id="answers_list">
                <% for (var i=0; i<problem.answers.length; i++) { %>
                    <li>
                        <input type="textarea" name="answer<%= i -%>" value="<%= problem.answers[i] %>"/>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
    <div id="wrapper">
            <div class="title">Бонусы  <button type="button" onclick="addBonus();">добавить</button></div>
            <div class="input">
                <ul id="bonuses_list">
                <% for (var i=0; i<problem.bonuses.length; i++) { %>
                    <li>
                        T:<input type="textarea" name="bonus<%= i -%>" value="<%= problem.bonuses[i].text %>"/>
                        C:<input type="number" name="bonus_cost<%= i -%>" value="<%= problem.bonuses[i].cost %>"/>
                    </li>
                <% } %>
                </ul>
            </div>
    </div>
    <div id="wrapper">
        <div class="title">Подсказки  <button type="button" onclick="addHint();">добавить</button></div>
        <div class="input">
            <ul id="hints_list">
              <% for (var i=0; i<problem.hints.length; i++) { %>
                <li>
                    T:<input type="textarea" name="hint<%= i -%>" value="<%= problem.hints[i].text %>"/>
                    C:<input type="number" name="hint_cost<%= i -%>" value="<%= problem.hints[i].cost %>"/>
                </li>
            <% } %>
            </ul>
        </div>
    </div>
    <div id="wrapper" align = "center">
	    <input type="submit"/>
    </div>
</form>


<script>
function removeAnswer(btn) {
	$(btn).parent().remove();
	fixNames("#answers_list", "answer");
}
function removeBonus(btn) {
	$(btn).parent().remove();
	fixNames("#bonuses_list", "bonus", "bonus_cost");
}
function removeHint(btn) {
	$(btn).parent().remove();
	fixNames("#hints_list", "hint", "hint_cost");
}
function addAnswer() {
	console.log(arguments);
	$("#answers_list").append('<li><input type="textarea" name="answer" value=""/><button type="button" onclick="removeAnswer(this);">Remove</button></li>');
	fixNames("#answers_list", "answer");
}
function addBonus() {
	console.log(arguments);
	$("#bonuses_list").append('<li>T:<input type="textarea" name="bonus" value=""/> C:<input type="number" name="bonus_cost" value="0"/><button type="button" onclick="removeBonus(this);">Remove</button></li>');
	fixNames("#bonuses_list", "bonus", "bonus_cost");
}
function addHint() {
	console.log(arguments);
	$("#hints_list").append('<li>T:<input type="textarea" name="hint" value=""/> C:<input type="number" name="bonus_cost" value="1"/><button type="button" onclick="removeHint(this);">Remove</button></li>');
	fixNames("#hints_list", "hint", "hint_cost");
}
function fixNames(selector, prefix1, prefix2) {
	$(selector).children("li").each(function (index, el) {
		$(el).children('[type="textarea"]').attr("name", prefix1 + index);
		$(el).children('[type="number"]').attr("name", prefix2 + index);
	});
}
</script>
