<% layout('./layout/page.ejs') -%>
<% block('title', 'SR 112') -%>
<form id="promblems" method="post">
<div align="center">
    <input type="submit" value="добавить задаине">
</div>
<div>
    <table border="1" >
        <tr  align="center">
            <td width="5%">п/п</td>
            <td width="15%">Заголовок</td>
            <td width="5%">Стоимость</td>
            <td width="72%">Текст задания</td>
        </tr>
        <% for (var i=0; i<problems.length; i++) { %>
        <% var problem = problems[i]; %>
        <tr>
            <td><%= problem.serial -%></a></td>
            <td ><a href="/problem/<%= problem._id -%>"><%= problem.topic -%></a></td>
            <td><%= problem.cost -%></a></td>
            <td><%= problem.question -%></a></td>
        </tr>
        <% } %>
    </table>
</div>
</form>


<script>
    function addProblem() {
        console.log(arguments);
    }
</script>
