<% layout('./layout/page.ejs') -%>
<% block('title', 'SR 112') -%>

<style type="text/css">
    input[type="textarea"] {
        width : 500px;
    }
    input[type="number"] {
        width : 50px;
    }

    .title{
        width : 100%;
    }
    .input{
        width : 100%;
    }
    .block{
        float:left;
        margin-left:15px;
        text-align:center;
    }
    #wrapper{
        margin-top: 20px;
    }
</style>

<form id="user" method="post">
    <div id="wrapper">
        <div class="title">Имя пользователя:</div>
        <div class="input"><input type="text" name="username" value="<%=user.username%>" /></div>
    </div>
    <div id="wrapper">
        <div class="title">Пароль:</div>
        <div class="input"><input type="text" name="password" value="<%=user.password%>" /></div>
    </div>
    <div id="wrapper">
        <div class="input"><label><input type="checkbox" name="admin" id="admin" /> администратор</label></div>
    </div>
    <div id = "wrapper">
        <div>Порядок заданий: </div>
        <% for (var i=0; i<  countProblem; i++ ) { %>
        <%var numb = 0;%>
        <%if (i<user.problemQueue.length) numb = user.problemQueue[i];%>
        <div class="block"><input type = "number" name = "numb<%= i -%>"value = "<%= numb%>"/></div>
        <% } %>
    </div>
    <div>.</div>
    <div id="wrapper" align = "center">
        <input type="submit"/>
    </div>
</form>

<script>
    document.getElementById('admin').checked = <%=user.admin%>;
</script>